.main {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.header {
  display: flex; 
  width: 100%;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0px;
  z-index: 999;
   
  
}

.headerList {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
}

.headerList * {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  font-weight: bold;
  
}

.section1 {
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: auto !important;
  min-height: 100vh;
  overflow: hidden;
}


.section1 h1{

  font-size: 4rem;
  
 
}

.section1 h4{
  font-size: 3rem;
  margin-top: 10px;
  margin-top: 40px;
}

.section1 div {
  width: 70%;
}
.section1 span{
  display: flex;
  justify-content: space-between;
  margin-top: 10%
}

.section1  button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #007A7A;
  color: #007A7A;
  background-color: #fff;
  margin-top: 20px;
}



.section1 p {
  color: #4b4b4b;
  margin-top: 20px;
  width: 70%;
}


.phrase {
height: 24.5vh;

background-color: #173540;
padding: 20px;
display: flex;


}
.phrase h1 {
  width: 70%;
  margin-left: 20%;
  color: #000;
}

.phrase p {
  font-size: 15px;
  width: max-content;
  align-self: flex-end;
  margin-right: 10%;
}

.section2 {
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 300px);
  display: block;
  height: 100vh;
}

.section2 h1 {
  text-align: center;
}

.section2 ul {
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
 
  
}

.section2 ul li {
 list-style: none;
max-width: 33%;
}

.section2 ul li img{
  list-style: none;
max-width: 90%;
 }
 

.section2 ul li p{
  list-style: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 100%;
  margin-top: 10px;

 }

 .section3 {
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 300px);
  display: flex;
  height: 100vh;

  align-items: center;
 
}


.section3 ul {
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  height: max-content;

  align-self: center;
}

.section3 ul li {
 list-style: none;

 
}

.section3 ul li p{
  list-style: none;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
 }

 



 .section4 {
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 300px);
  display: block;
  height: 100vh;

}

.section4 p{
  font-size: 1.4rem;
}

.section4 h1{
  font-size: 2rem;
}

.section5 {
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 300px);
  display: block;
  height: 100vh;

}

.section5 h1{
font-size: 2rem;
}

.section5 button{
  background-color:rgba(0,0,0,0);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60px;
  font-size: 1.4rem;
  border: 1px solid gray;
  border-radius: 30px;
  color: #000;
  font-weight: bold;
}

.section6 {
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 300px);
  display: block;
  height: 100vh;
}

.section6 figure img{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}
 .section3 img{
    width: 80%;
    margin: 0;
   }
   .section2 img{
    width: 80%;
    margin: 0 auto;
    display: block;
    align-self: center;
   }

@media screen and (max-width: 1000px) {
 

  .section1{
    height: 90%;
    
  }
  
  .section1 h1 {
    font-size: 1rem;
  } 
  .section1 h4 {
    font-size: .8rem;
  }
.section1 img {
  width: 80%;
  margin-top: 20%;
}


  .header {
    display: none;
  }
  .section1 span{
    display: block;
    
  }
  .phrase {
    display: none;
  }

  .section1 span *{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
  }
  .phrase h1 {
    width: 70%;
    margin-left: 20%;
    font-size: 1rem;
  }


.section2 ul li p{
  font-size: .7rem;
 text-align: center;
}

.section4 p{
  font-size: .8rem;
}

.section4 h1{
  font-size: 1rem;
}

}

@media screen and (max-width: 768px) {
.section2 ul {
  display: block;

}

.section2 ul li {
  display: block;
  margin-top: 20px !important;
  margin-left: auto;
  margin-right: auto;
}




}